*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.file {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1475cf;
  height: 100px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}